.mainDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;

}

.para{
    font-size: 22px;
    /* margin: 0 auto; */
    text-align: center;
    line-height: 1.6;
    color: #C4C5C5;
    margin-bottom: 30px;
}

.signInWrapper{
    margin-top: 30px;

}
.invite{
    color: #0077ff;
}